@model IEnumerable<AsyncInn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Room Amenities</h2>

<p>
    <button asp-action="Create">Add Room Amenity</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amenity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amenity.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
