@model IEnumerable<AsyncInn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Room Amenities</h2>

<p>
    <a class="button" asp-action="Create">Add Room Amenity</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amenity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amenity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms.Name)
            </td>
            <td>
                @*<a asp-action="Delete" asp-route-id="@item.RoomID">Delete</a>*@
                @Html.ActionLink("Delete", "Delete", new { id = item.AmenitiesID })
            </td>
        </tr>
}
    </tbody>
</table>
